.title-container {
  display: flex;
  align-items: center;
}

.title-container > .title {
  margin-right: auto;
}

#add-button {
  margin-top: 10px;
}

.table {
  table-layout: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sortable {
  cursor: pointer;
}

.sortable::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
}

.sort-arrow::after {
  border: solid black;
  border-width: 0 3px 3px 0;
}

.up::after {
  margin-top: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down::after {
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.link-column {
  display: flex;
}

.link-column > a {
  margin: 0 auto;
}

.link-column > spinner {
  margin-top: -5px;
}
